# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jamil\Desktop\GitRepos\University\Semester 6\AT\MaxPointsParticipation\MaxPointsParticipation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
