# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jamil\Desktop\University\SSVV\Assignment01Files\LabAssiAsseProjectV02\LabAssiAsseProjectV02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
